/* app css stylesheet */
* {
    font-family: 'Open Sans', sans-serif;
}
:lang(th) {
    font-family: 'Kanit', sans-serif;
}
.fa > span {
    font-family: 'Open Sans', sans-serif;
}
/* Color */
.primary-color {
    color: rgba(33,150,243,1);
}
.accent-color {
    color :rgba(25,118,210,1);
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.facebook-btn{
  color:inherit;
  background-color: inherit;
}
.facebook-btn:hover{
  color:#303F9F;
  background: linear-gradient(
          to bottom,
          #2196F3 0%,
          white 20%,
          white 100%
  );
  height: 24px;
}

.menu-list{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0 auto 0 auto;
}
.menu-list:hover{
    background-color: #9E9E9E;
}
.no-shadow {
    box-shadow: none;
}
.no-shadow > * {
    box-shadow: none !important;
}
/* Courses */

.thumbnail{
    width: 350px;
    height: 300px;
}
.course {
    width: 399px;
}
.card-btn-list{
    margin-left:50px;
}
.card-btn-button{
    width:120px;
    margin: 3px !important;
}

/*Booking*/
.booking.opened {
    color: #388E3C;
}
.booking.closed {
    color: #F44336;
}

.hint {
    right: 2px;
    left: auto;
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}
.booking-status{
    margin: 10px auto;
}
.booking-progress{
    margin: 10px auto;
}
/* Login */
.login-page {
    padding-top: 25px;
}
.login-zone {
    padding-top: 10px;
}

/* View Courses*/

.view-course-box {
    margin-top: 50px;
}
.view-course-description-box {
    width: 320px;
    min-height: 320px;
}
.view-course-description-box > .fa {
    margin: 5px 0 5px 0;
    font-size: 20px;
}
.view-course-description-box > .fa-money {
    color: green;
}
.view-course-description-box > .fa-clock-o {
    color: rgba(33,150,243,1);
}
.view-course-description-box > .fa > span {
    font-size: 15px;
    color: black;
}
