<md-toolbar ng-cloak>
    <div class="md-toolbar-tools md-whiteframe-1dp">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <i class="fa fa-bars"></i>
        </md-button>
        <h2>
            <span>Hydrogen Dev - beta</span>
        </h2>
        <span flex></span>
        <a href="https://www.facebook.com/hydrogendev">
            <md-button class="md-icon-button " aria-label="Facebook">
                <i class="fa fa-facebook-official fa-2x facebook-btn"></i>
            </md-button>
        </a>
    </div>
</md-toolbar>